<div class="month">

    <div class="month_month">
        {{$ctrl.month}}月 
    </div>

    <div ng-repeat="week in $ctrl.weeks" class="month_week">

        <div ng-repeat="day in week.days" class="month_day" ng-class="{
                'month_selected':($ctrl.isIncludeMonth(day) && $ctrl.isSelected(day)),
                'month_otherMonth':!$ctrl.isIncludeMonth(day),
                'month_today':day.isToday
            }">
            <a ng-if="!day.otherMonth" ng-click="$ctrl._select(day)">
            {{day.date}}
            </a>
            <div class="month_have" ng-if="$ctrl.hasTask(day)">
            </div>
        </div>

    </div>

</div>