.year{

    width: 570px;

    &_year{
        margin-top: 12px;
        margin-left: 14px;
        margin-bottom: 7px;

        font-size: 30px;

        border-bottom-style: solid;
        border-bottom-color: lightgray;
        border-bottom-width: 1PX;

        padding-bottom: 6px;    

        color: gray;
        
    }
    
    &_month{
       display:inline-flex;
       margin-left: 12px;   
       margin-top: 12px;

    }
}