<div class="year-month" ng-click="$ctrl._selectMonth()">

    <div class="year-month_month">
        {{$ctrl.month}}月
    </div>

    <div ng-repeat="week in $ctrl.weeks">

        <div ng-repeat="day in week.days" class="year-month_week" ng-class="{
                'year-month_selected':($ctrl.isIncludeMonth(day) && $ctrl.isSelected(day)),
                'year-month_otherMonth':!$ctrl.isIncludeMonth(day),
                'year-month_today':day.isToday
            }">
            <a ng-if="!day.otherMonth" ng-click="$ctrl._select(day)">
            {{day.date}}
            </a>
        </div>

    </div>

</div>