.s-week{
    width: 320px;

    &_head{
        background-color: #EEE;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        color: red;
    }
    &_week{
        background-color: #EEE;        
    }
    
    &_day {
        height: 60px;
        width: 45px;
        display:inline-block;
        text-align: center;
        padding-top: 11px;

        a {
            border-radius: 15px;
            color: black;
            padding: 7px;
            width: 32px;
            display: inline-block;       
         }
        
    }

    &_selected{
        
        a {
            background-color: black;
            color: white;           
        }

    }

    &_today{

        a {
            background-color: red;
            color: white;           
        }
        
        &:hober{
            color: white;        
        }
        
    }
    
    &_hours{
        height: 450px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    
    &_hour{
        font-size: 13px;
        color: lightgray;
        margin-top: 7px;
        height: 31px;
        margin-left: 5px;
    }
    
    &_oclock{
        width: 30px;
        display: inline-block;
        text-align: right;        
    }
    
    &_oclockLine{
        border-top-style: solid;
        border-top-width: 1px;
        position: relative;
        top: -17px;
        left: 35px;
        width: 274px;
        display: inline-block;        
    }

}