<div class="month">

    <div class="month_month">
        {{$ctrl.year}}/{{$ctrl.month}}
    </div>

    <div>
        <span ng-repeat="label in $ctrl.weekLabels" class="month_week">
            {{label}}
        </span>

    </div>

    <div ng-repeat="week in $ctrl.weeks">

        <div ng-repeat="day in week.days" class="month_week" ng-class="{
                'month_otherMonth':day.otherMonth,
                'month_today':day.today            
            }">
            <a ng-click="$ctrl.selectDate(day)">
            {{day.date}}
            </a>
        </div>

    </div>

</div>